<%= semantic_form_for(@tagged_item, :url => bookmarklets_add_item_url, :method => :post) do |f| %>
  <div class="bookmarklet_tabs" id="bookmarklet_tabs">

      <%= f.inputs do %>
        <%= f.input :title, :required => true, :input_html => { :value => @title } %>
        <%= f.input :urn, :required => true, :input_html => { :value => @urn } %>
      <% end %>
      <%= f.actions %>
  </div>
<% end %>