<%= semantic_form_for(@tagged_item) do |f| %>

      <%= f.inputs do %>
        <%= f.input :title, :required => true, :input_html => { :size => 100, :readonly => true } %>
        <%= f.input :urn, :required => true, :input_html => { :size => 100, :readonly => true } %>
		<%= f.input :tag_list, :label => 'Tags', :hint => 'A comma separated list of tags.', :input_html => { :size => 100 } %>
		<%= f.input :notes, :input_html => { :rows => 5, :cols => 50 } %>
      <% end %>
      <%= f.actions %>
  </div>
<% end %>
