
<br />
<table>
  <tr>
	<th>Title</th>
    <th>Tags</th>
	<th>Notes</th>
	<% if current_user.admin? %>
      <th></th>
	<% end %>
  </tr>

<% items.each do |tagged_item| %>
  <tr>
	<td><%= link_to tagged_item.title, tagged_item.urn %></td>
	<td><%= tagged_item.tag_list %></td>
	<td><%= tagged_item.notes %></td>
	<% if current_user.admin? %>
      <td><%= link_to 'Edit', edit_tagged_item_path(tagged_item) %> | <%= link_to 'Destroy', tagged_item, confirm: 'Are you sure?', method: :delete %></td>
	<% end %>
  </tr>
<% end %>
</table>
<br />

<br />

<%= link_to 'New Tagged item', new_tagged_item_path %>