
<br />
<%= will_paginate items %>
<br />
<div id="tagged_items_box">
	<% items.each do |tagged_item| %>
	<div id="tagged_item">
		<p><%= link_to tagged_item.title, tagged_item.urn, :target => "_blank" %></p>
		<p>
		
			<strong>Tags:</strong>
			<% tagged_item.tag_list.each do |tag| %>
				<%= link_to tag, item_search_tagged_items_path(:query => tag) %>
			<% end %>
		
			<br />
			
			<% if !tagged_item.box.blank? %>
				<strong>Box:</strong>
				<%= tagged_item.box %><br />
			<% end %>
			<% if !tagged_item.folder.blank? %>
				<strong>Folder:</strong>
				<%= tagged_item.folder %><br />
			<% end %>
		
			<strong>Tagged By:</strong>
			<% tagged_item.users.each do |u| %>
				<%= u.user_identifier %>
			<% end %>
			<br />
		
			<strong>Notes:</strong><br />
			<% if !tagged_item.notes.blank? %>
				<%= h(tagged_item.notes).gsub(/\r/, '<br/>').html_safe %><br />
			<% else %>
				None.
			<% end %>	
		</p>	
		<p>
			<% if current_user.admin? %>
			<%= link_to 'Edit', edit_tagged_item_path(tagged_item) %> | <%= link_to 'Delete', tagged_item, confirm: 'Are you sure?', method: :delete %>
			<% else %>
				<%= link_to 'Report', new_reported_item_path(:item => tagged_item) %>
			<% end %>
		</p>	
	
	
	</div>
	<% end %>
</div>
<br />
<%= will_paginate items %>