<%= render :partial => 'shared/bookmarklet_link' %>

<h2>Search Tagged Items <%= render :partial => 'shared/search' %></h2>


<h2><%= link_to "View All Tagged Items", all_items_tagged_items_path %></h2>
<h2><%= link_to "View All Tags", all_tags_tagged_items_path %></h2>
<% if current_user.admin? %>
	<h2><%= link_to "View All Reported Items", reported_items_path %></h2>
<% end %>	